.container {
  margin: 0;
  height: calc(100vh - 100px);
  color: #fff;
  text-align: center;
  max-height: 500px;
  display: flex;
  justify-content: center;
}
.headerStyle {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-secondary);
  font-weight: 700;
  margin-bottom: 1.4375rem;
}
.grid {
  /*grid*/
}
@media only screen and (max-width: 388px) {
  .grid {
    row-gap: 1rem;
  }
}

/* Small devices (389px to 575px) */
@media only screen and (min-width: 389px) and (max-width: 575px) {
  .grid {
    row-gap: 2.5rem;
  }
}

/* Medium devices (576px to 767px) */
@media only screen and (min-width: 576px) and (max-width: 770px) {
  .grid {
    row-gap: 2.5rem;
  }
}

/* Large devices (768px to 991px) */
@media only screen and (min-width: 771px) and (max-width: 991px) {
}

/* Extra large devices (992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra extra large devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .container {
    max-height: 500px;
    display: flex;
    justify-content: center;
  }
}
