/* Styles for the main container */
.mainContainer {
  gap: var(--spacing-medium);
}
.innerContainer {
  height: 4.0625rem;
  max-width: 87.5rem;
}
.navBar_container {
  justify-content: space-between;
}
.smallScreens {
  display: flex;
}
.largeScreens {
  display: none;
}
.logoImage {
  width: 120px;
}
.reverse {
  flex-direction: row-reverse;
}
/* Styles for small devices (phones) */
@media (max-width: 36rem) {
  .navBar_container {
    justify-content: none;
    flex-direction: row !important;
  }
  .logoImage {
    width: 108px;
    height: auto;
  }
}

/* Styles for small devices (tablets) */
@media (min-width: 36.063rem) and (max-width: 48rem) {
  /* 577px and 768px converted to rem */
  /* Add CSS styles for small devices here */
  .onMobileViewExtraMenu {
    display: block;
  }
}

/* Styles for medium devices (laptops and desktops) */
@media (min-width: 48.063rem) and (max-width: 62rem) {
  /* 769px and 992px converted to rem */
  /* Add CSS styles for medium devices here */
  .onMobileViewExtraMenu {
    display: none;
  }
  .smallScreens {
    display: none;
  }
  .largeScreens {
    display: flex;
  }
}

/* Styles for large devices (desktops) */
@media (min-width: 62.063rem) and (max-width: 75rem) {
  .smallScreens {
    display: none;
  }
  .largeScreens {
    display: flex;
  }
}

/* Styles for extra large devices (large desktops and TVs) */
@media (min-width: 75.063rem) {
  .smallScreens {
    display: none;
  }
  .largeScreens {
    display: flex;
  }
}
