@media (max-width: 36rem) {
  .searchBox {
    min-width: 100%;
  }
}

/* Styles for small devices (tablets) */
@media (min-width: 36.063rem) and (max-width: 48rem) {
  .searchBox {
    min-width: 100%;
  }
}

/* Styles for medium devices (laptops and desktops) */
@media (min-width: 48.063rem) and (max-width: 62rem) {
  .searchBox {
    min-width: 520px;
  }
}

/* Styles for large devices (desktops) */
@media (min-width: 62.063rem) and (max-width: 75rem) {
  .searchBox {
    min-width: 520px;
  }
}

/* Styles for extra large devices (large desktops and TVs) */
@media (min-width: 75.063rem) {
  .searchBox {
    min-width: 520px;
  }
}
