.container {
  display: flex;
  justify-content: center;
}

.pageFooter {
  background: var(--color-secondary);
}
.grid {
  gap: 3rem;
  padding-top: 5rem;
  padding-bottom: var(--spacing-large);
}
.listItemsBloc {
  color: white;
  font-weight: 200;
  font-size: var(--font-medium-size);
}
@media only screen and (max-width: 388px) {
}

/* Small devices (389px to 575px) */
@media only screen and (min-width: 389px) and (max-width: 575px) {
}

/* Medium devices (576px to 767px) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}

/* Large devices (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Extra large devices (992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra extra large devices (1200px and above) */
@media only screen and (min-width: 1200px) {
}
