/* Common styles */
.heroContainer {
  overflow: hidden;
  position: relative;
  max-width: 75rem;
  width: 95%;
}
.imageContainer {
  width: 50%;
  height: 100%;
  background-color: rgb(134, 255, 93);
  background-position: top;
}
.textContainer {
  width: 50%;
}

/* Responsive styles */
@media only screen and (max-width: 388px),
  only screen and (min-width: 389px) and (max-width: 575px),
  only screen and (min-width: 576px) and (max-width: 770px) {
  .imageContainer {
    width: 100% !important;
    background-position: bottom !important;
  }

  .textContainer {
    width: 100% !important;
  }

  .scooter {
    bottom: 0% !important;
  }
}

@media only screen and (min-width: 771px) and (max-width: 991px),
  only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (min-width: 1200px) {
  .imageContainer {
    width: 100% !important;
    background-position: right !important;
  }

  .textContainer {
    width: 100% !important;
  }

  .scooter {
    left: 50%;
    transform: translate(-50%, 25%) !important;
  }

  @media only screen and (min-width: 1200px) {
    .scooter {
      top: 50%;
      transform: translate(-50%, -25%) !important;
    }
  }
}
